header {
    display: flex;
    background: url(../../img/images/header-bg.png) center/cover;
    overflow: hidden;
    height: 100vh;
}

.header__content-left {
    margin-top: 315px;
    width: 50%;
    margin-left: 50px;
}

.header__content-right {
    width: 50%;
    margin-top: 150px;
    background-color:#ffffffcc;
    height: 620px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 50px #00000040;
    margin-right: 20px;
    padding: 20px 30px 32px;
    position: relative;
}

.header__content-right::before {
    content: url(../../img/images/header-pannel.png);
    position: absolute;
    width: 103px;
    height: 332px;
    border-radius: 20px;
    left: -10%;
    box-shadow: 0 4px 20px #00000012;
}
