

.about__content {
    display: grid;
    grid-template-rows: repeat(6, 307px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "layouts layouts icons"
    "layouts layouts icons"
    "layouts layouts forms"
    "picture1 picture1 anim-circle"
    "cycle cycle cycle"
    "gradient picture2 picture2";
    gap: 20px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
}

.about__image {
    width: 100%;
}

.about__item {
    background-color: var(--cards-bg-color);
    border-radius: 20px;
}

.about__title {
    color: var(--card-text-color);
    font-weight: bold;
}

.about__text {
    color: var(--card-text-color);
}

.about__layouts {
    grid-area: layouts;
}

.about__layouts p {
    font-size: 2rem;
    padding: 15px 18px 85px 32px;
}

.about__layouts h2 {
    font-size: 3rem;
    padding-top: 36px;
    padding-left: 32px;
}

.about__layouts img {
    border-radius: 20px;
    box-shadow: 0 4px 30px #00000040;
     scale: 0.9;
}

.about__icons {
    grid-area: icons;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about__icons p {
    width: 60%;
    padding-right: 24px;
    padding-top: 23px;
    text-align: right;
}

.about__icons h2 {
    padding-right: 23px;
    padding-top: 80px;
}

.about__icons img {
    scale: 0.9;
    border-radius: 10px;
    box-shadow: -20px 20px 20px #00000012;
    transform: translateX(7%);
}

.about__forms {
    grid-area: forms;
    display: flex;
}

.about__forms h2 {
    transform: rotate(90deg) translate(-30%, 40%);
}

.about__forms img{
    width: 238px;
    height: 233px;
    border-radius: 10px;
    box-shadow: 0 4px 20px #00000040;
    margin: 38px 25px;
}

.about__picture1 {
    grid-area: picture1;
    background: url(../../img/images/about-card4.png);
}

.about__anim-circle {
    grid-area: anim-circle;
    background: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__anim-circle-image {
    background: url(../../img/images/about-card5-gradient-ring.svg);
    width: 246px;
    height: 246px;

    animation: circle 10s infinite linear reverse;
}

.about__anim-circle img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 20px #00000040);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.about__anim-wrap {
    width: 246px;
    height: 246px;
    position: relative;

    animation: circle 10s infinite linear;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about__cycle {
    grid-area: cycle;
    position: relative;
}

.about__cycle p {
    position: absolute;
    right: 43px;
    top: 44px;
    width: 14%;
    text-align: right;
}

.about__cycle h2 {
    position: absolute;
    right: 23px;
    bottom: 34px;
}

.about__cycle img {
    scale: 0.75;
    border-radius: 20px;
    box-shadow: 0 4px 30px #00000040;
    margin: 23px 12px;
    transform: translate(-15%, -10%);
}

.about__gradient {
    grid-area: gradient;
    background-image: linear-gradient( to right, var(--accent-color2), var(--accent-color1));
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__gradient h2 {
    color: var(--text-color);
}

.about__picture2 {
    grid-area: picture2;
    background: url(../../img/images/about-card8.png);
}

@media (max-width: 428px) {
    .about__content {
    grid-template-rows: repeat(9, 366px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "layouts"
    "layouts"
    "icons"
    "forms"
    "picture1"
    "cycle"
    "cycle"
    "gradient"
    "picture2";
    }
}